body,
html {
  height: 100%;
  margin: 0;
}
.container-1 {
  background: rgb(253, 253, 253);
  color: red;
}
p.a {
  font-family: helvetica;
  font-size: 350px;
  text-align: center;
  margin-bottom: 170px;
  animation-duration: 4s;
}
a {
  text-center: center;
  margin-bottom: 50px;
}
.img-skaters {
  height: 40%;
  background-image: url("supreme skaters.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.p-bg {
  background: white;
  color: white;
  font-family: "helvetica";
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  transition-property: background-color, color;
  transition-duration: 2s, 4s;
  transition-timing-function: ease-in-out;
}
.p-bg:hover {
  background: rgba(255, 0, 0, 0);
  color: red;
}

.img-logo {
  justify-content: center;
  border: 0px solid red;
  transition: border-width 10s;
}

.img-logo:hover {
  border-width: 20px;
}
